body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.most-labs {
  background-color: #68777d;
  border: 1px solid black;
  color: #beffb9;
}

.not-most-labs {
  background-color: #f2f9fc;
  border: 1px solid #c9e6f2;
}
